body{
	background-color:#fff5e4;
/*	background-color:#fff1dc;*/
}

@font-face {
    font-family: Clearface;
    src: url(ClearfaceStd-Black.otf);
}

.oval {
	position: relative;
	width: 900px;
	height: 600px;
	background: none;
	border:1px solid #ff3600;
	-moz-border-radius: 450px / 300px;
	-webkit-border-radius: 450px / 300px;
	border-radius: 450px / 300px;
	margin: 0 auto;
	transform: translate(0%, 20%);

}

.header {
	position: absolute;
	font-family: Clearface;
	color: #ff3600;
/*	background-color: yellow;*/
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-size: 240px;
	margin: 0;
	line-height: 230px;
}

h2 {
	font-size:100px;
	margin: 0;
	line-height: 50px;
}

h3 {
	font-size:20px;
	margin: 0;
	line-height: 40px;
}